#tabs {
    background-color: #20426b;
    color: lightgray;
    display: flex;
    justify-content:end;
    width: 100%;
    max-height: 100px;
}


ul {
    list-style-type: none;
    margin-right: 40px;
    margin-top: 30px;
    padding: 0;
}

li {
    min-height: 50px;
    min-width: 50px;
    margin-top: 10px;
}

li a {
    background-color: rgb(181, 226, 247);
    color: rgb(0, 0, 0);
    border: 3px solid rgb(0, 0, 0);
    border-radius: 15px;
    padding: 5px;
}


#title {
    color: white;
    position: absolute;
    left: 30px;
    margin-top: 20px;
}

#login {
    position: absolute;
    right: 0;
    margin-right: 10px;
}

#space {
    height: 50px
}

#home {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
}